<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/favicon.ico"> 
    <title>Home of Music</title> 
    <!-- Fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Main StyleSheet -->
    <link href="assets/StyleSheet.min.css" rel="stylesheet" />
</head>

<body ng-app="MusicSearchApp" ng-controller="AppCtrl" ng-class="{'input-focused':inputFocused}"> 
    <!-- Banner starts -->
    <section class="banner" ng-controller="BannerCtrl"  ng-class="{'small':inputFocused}"> 
        <div class="container">
            <img class="logo fadeTo" src="assets/img/gl-logo@2x.png" />
            <span class="poweredby fadeTo">Powered by Spotify</span>
            <img class="banner-img fadeTo" src="assets/img/hero-img@2x.png" />
            <br />
            <div class="page-arrow fadeTo" ng-show="!inputFocused"><img src="assets/img/Page 1@2x.png" /></div>
        </div> <!-- Container -->
    </section>     
    <!-- Banner ends -->

    <!-- Search Area starts -->
    <section class="search-section " ng-controller="SearchCtrl">
        <div class="fadeIn vertical search-input-container ">
            <div class="container">
                <div class="small"> 
                    <ul class="autocomplete">
                        <!-- Auto complete item starts -->
                        <li ng-repeat="item in autocompleteList" ng-click="AutocompleteItemClicked(item.name)">
                            <img src="assets/img/Magnify@2x.png" class="magnify" />
                            <img class="icon" ng-src="{{item.images[0].url}}" /> 
                            <span ng-bind-html="item.name | SearchInText : searchTerm"></span>
                            <small>{{item.type}} <span ng-if="item.type=='album'">by <span ng-bind-html="item.artists[0].name | SearchInText : searchTerm"></span></span></small>
                        </li> 
                        <!-- Auto complete item ends -->
                    </ul>
                    <div class="autocomplete-bg" ng-show="autocompleteOpen"></div>
                    <input type="text" ng-model="searchTerm" placeholder="Search for artist or album title" ng-change="InputChanging()" ng-focus="InputFocused()" ng-keypress="InputKeyPressed($event)" />
                    <button type="button" ng-click="Search()"><span class="fa fa-search"></span> <span class="searchTxt">Search</span></button>
                   
                </div>
            </div><!-- Container -->
        </div>
        <div style="background-color: #383a49;" ng-show="inputFocused">
            <div class="search-results-container fadeIn vertical ">
                <!-- Show empty box in search Area -->
                <div class="empty" ng-show="!allData.length">
                    <img src="assets/img/Magnify@2x.png" />
                    <br />
                    Your results will appear here
                </div>

                <!-- Show items in search Area -->
                <div class="fadeIn container" ng-show="allData.length" style="position:relative;">
                    <div class="wrapper" style="position:relative;">

                        <!-- Item start -->
                        <div class="item-box" ng-repeat="item in allData" ng-click="ItemClicked(item)">
                            <div class="image" ng-style="{'background-image':'url('+(item.images[0].url ? item.images[0].url : 'assets/img/gl-logo@2x.png')+')','background-size':!item.images[0].url  ? '30%' :''}"></div>
                            <div class="overlay"></div>
                            <div class="overlay-image">
                                <img src="assets/img/Bitmap@2x.png" />
                                <span ng-show="item.type =='artist'">View Albums</span>
                                <span ng-show="item.type =='album'">View Tracks</span>
                            </div>
                            <div class="title"><span ng-bind-html="item.name | itemTitle"></span><img ng-src="assets/img/{{item.type}}-icon@2x.png" ng-class="{'album':item.type=='album'}" /></div>
                        </div>
                        <!-- Item ends -->

                        <div style="clear:both"></div>
                        <div style="text-align:center">
                            <button class="view-more-button" ng-show="viewMoreShow" ng-click="ViewMore()">Show me more</button>
                        </div>
                    </div> 
                </div><!-- Container -->
            </div>
        </div>
    </section>    
    <!-- Search Area ends -->

    <!-- Use to show modal for selected item details -->
    <details-modal></details-modal>
    <section class="footer-section " ng-class="{'fixed':!inputFocused}">
        <div class="container">
            Designed by Geek Label <span></span> Powered by Spotify
        </div>
    </section>
    <!-- Jquery --> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 
    <!-- AngularJS  --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>      
    <!-- Main Script --> 
    <script src="assets/scripts.min.js"></script>
</body>
</html>
