@mixin animation($value) {
    animation: $value;
    -webkit-animation: $value;
}
@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
}
@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -o-filter: $value;
    -ms-filter: $value;
    filter: $value;
}